
<h2>Details</h2>

<div class="panel panel-default">
    <div class="panel-heading" id="header"></div>
    <div class="panel-body">
        <div>
            <hr />
            <dl class="dl-horizontal" style="margin:auto">
                <dt>Name</dt>
                <dd id="name"></dd>
                <dt>Year</dt>
                <dd id="year"></dd>
                <dt>Price</dt>
                <dd id="price"></dd>
                <dt>Brand</dt>
                <dd id="brand"></dd>
                <dt>Category</dt>
                <dd id="catergory"></dd>
            </dl>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Store</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody id="stores">
            </tbody>
        </table>
    </div>
</div>

